{% extends "base.html" %}
{% load static %}
{% block main_css %}
    <link rel="stylesheet" href="{% static 'css/reservedCss.css' %}"/>
    {% endblock %}
{% block content1 %}
    <section>
        <div class="container">
            <div class="row">
                {% for item in table %}
                <div class="col-xl-6 col-12">
                    <div class="items">
                        <img src="{{ item.image.url }}"></a>
                        <div class="d-flex flex-column">
                            <br>
                            <h6 class="title">{{ item.title }}</h6>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <h1 class="title">Телефон для бронирования: 8-999-999-000 Магистр Джарвис</h1>
{% endblock %}
