<nav>
  <div class="nav-bg"></div>
  <ul>
    <li><a href='/'>Главная</a></li>
      <li><a href='/main/menu'>Меню</a></li>
    <li><a href='/main/shop'>Магазин</a></li>
    <li><a href="/main/meeteng">Мероприятия</a></li>
          {% if user.is_authenticated %} <!--Авторизован пользователь?-->
          <li class="last"><a href="{% url 'profile' %}">{{user.username}}</a>
              {% if cart.items.exists %}
                <span class="position-absolute top-10 translate-middle badge rounded-pill bg-warning">
                    <img src="{% static 'img/icon/cart.png' %}" alt="" width="20">
                    <span class="visually-hidden">Корзина</span>
                </span>
                {% endif %}</li><li><a href="{% url 'logout' %}">Выйти</a></li>
        {% else %}<!-- не авторизован-->
          <li class="last"><a href="{% url 'login' %}">Войти</a></li><li><a href="{% url 'register' %}">Регистрация</a></li>
        {% endif %}
  </ul>
</nav>