@font-face {
    font-family: 'Lighthaus';
    src: local("Lighthaus"), url("../fonts/Lighthaus.ttf");
}

body {
    background: url("../img/wood.jpg");
    width: 100%;
    background-size: 100%;
    background-repeat: repeat-y;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
h3{
    justify-content: center;
    margin-left: 20%;
    color: coral;
    font-family: Lighthaus;
}
h3 span{
    background-color: rgba(57, 49, 43, 0.7);
}
.wrapper_content{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.icon_basket{
    border-radius: 40%;
}
h1{
    font-family: Lighthaus;
    color: coral;
    margin-left: 10%;
}
h1 span{
    background-color: rgba(57, 49, 43, 0.7);
}
body{
    text-decoration: none;
}
.welcome{
    font-family: Lighthaus;
    position: fixed;
    width: 100%;
	height: 0px;
	top: 30%;
	z-index: 999;
    text-align: center;
    color: coral;
    text-shadow: 1px 1px 5px black;
}

.welcome-head{
    font-family: Lighthaus;
    font-size: 25px;
    position: fixed;
    width: 100%;
	height: 0px;
	top: 45%;
	z-index: 999;
    text-align: center;
    color: coral;
    text-shadow: 1px 1px 5px black;
}
nav {
    text-align: center;
    position: fixed;
    top: -5%;
    z-index: 999;
  margin: 0 auto;
  padding: 60px 0;
    color: black;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
  text-align: center;
  /*background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);*/
  color: coral;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: coral;
  font-size: 18px;
  text-decoration: none;
  display: block;
    text-decoration: none;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: white;
    opacity: 0.7;
}

.footer{
    position: absolute;
background:#000;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
    width: 100%;
    flex: 0 0 auto;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
justify-content: center;
}
.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}

::-webkit-scrollbar {
  width: 0;
}
.title{
    margin-top: 5%;
}
.accordion{
    min-width: 300px;
}
.image_content{
    margin-left: 20%;
}
.accordion-item{
    margin-right: 10%;
    display: grid;
}
