<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            background-color: black;
        }
        h1{
            color: white;
        }
        p{
            color: white;
            font-family: "Roboto Light";
        }
    </style>
</head>
<body>
    <div class="container">
<h1>Пароль успешно изменен!</h1>

<p>Вы успешно изменили пароль. <a href="{% url 'main:profile' %}">Вернуться в профиль.</a></p>
    </div>
</body>
</html>
