{% extends 'base.html' %}
{% load static %}
{% block main_css %}
    <link rel="stylesheet" href="{% static 'css/styleProf.css' %}"/>
{% endblock %}
{% block content1 %}
    <div class="container">
    <div class="title">
<h1 class="welcome-head">Профиль</h1>
    </div>

<div class="prof">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-input">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p ><label class="form-input" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-input">{{ f.errors }}</div>
    {% endfor %}
    <p ><button type="submit">Сохранить</button></p>
    <button><a href="{% url 'main:password_change' %}">Сменить пароль</a></button>
</form>
</div>
    <div class="order">
    <h4>Завершенные заказы</h4>
    {% for order in orders %}
        <h4>Мерч: {{ order.orderItems }}</h4><br>
        <h4>Сумма: {{ order.summa }}</h4><br>
    {% endfor %}
    </div>
    </div>
{% endblock %}