{%extends 'base.html'%}
{% load static %}
{% block main_css %}
<link rel="stylesheet" href="{% static 'css/styleLogin.css' %}"/>
{% endblock %}
{% block content1 %}
    <div data-gb-custom-block data-tag="block" class="dj_map_wrapper">
    <h1 class="title">{{ title }}</h1>
<form method="post" class="form_auto">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit" class="glow-on-hover">Регистрация</button>
</form>
    </div>
{% endblock %}
